# Traefik Configuration
TRAEFIK_DOMAIN=example.com
TRAEFIK_EMAIL=your-email@example.com
TRAEFIK_DASHBOARD="true"
TRAEFIK_DOCKER="true"
TRAEFIK_FILE_DIRECTORY=/etc/traefik/dynamic
TRAEFIK_FILE_WATCH="true"
TRAEFIK_WEB_ADDRESS=:80
TRAEFIK_WEBSECURE_ADDRESS=:443
TRAEFIK_ACME_TLSCHALLENGE="true"
TRAEFIK_ACME_STORAGE=/letsencrypt/acme.json 